Repository nss-cohort-36/keahua-arboretum-pixel-pals, pull requests merged in 2020-01, with the labels that each got.

#8 commenting out imports to start fresh
  actions/annex.py
  actions/release_animal.py
  animals/__init__.py
  animals/river_dolphin.py
  environments/__init__.py
  environments/river.py
  environments/swamp.py
  index.py
  interfaces/__init__.py
  interfaces/animal/__init__.py
  interfaces/animal/freshwater.py
  interfaces/identifiable.py
  interfaces/saltwater.py
Labels: Actions, Animal, Arboretum, Habitat, Interface, Menu, Plant

#16 starting menu now leads to other menus
  actions/__init__.py
  actions/cultivate_plant.py
  actions/feed_animal.py
  index.py
Labels: Actions, Menu

#24 Complete arboretum class
  actions/__init__.py
  actions/annex.py
  arboretum.py
  index.py
Labels: Actions, Arboretum

#27 Cb setup
  actions/annex.py
  biome/__init__.py
  biome/biome.py
  biome/river.py
  interfaces/__init__.py
  interfaces/habitat/__init__.py
Labels: Biome

#32 report prints annexed biomes only, not inhabitants
  actions/report.py
  arboretum.py
Labels: Arboretum, Biome

#33 reports now print inhabitants for each biome
  actions/report.py
Labels: Arboretum, Menu

#38 Lr animal location assignment
  actions/release_animal.py
  animals/river_dolphin.py
Labels: Animal

#41 Kb plant animal limits
  actions/report.py
  arboretum.py
  biome/biome.py
  biome/coastline.py
  biome/river.py
  index.py
  interfaces/habitat/contains_animals.py
  interfaces/habitat/contains_plants.py
Labels: Animal, Interface, Plant

#46 Kb max animal plant
  biome/forest.py
  biome/grassland.py
  biome/mountain.py
  biome/river.py
  biome/swamp.py
  interfaces/habitat/contains_animals.py
  interfaces/habitat/contains_plants.py
Labels: Animal, Plant

#52 Lr fixing river
  actions/release_animal.py
Labels: Animal

#54 Kb reports stretch
  actions/report.py
  actions/show_plant_biomes.py
  biome/coastline.py
  biome/forest.py
  biome/grassland.py
  biome/mountain.py
  biome/river.py
  biome/swamp.py
  interfaces/habitat/contains_animals.py
  interfaces/habitat/contains_plants.py
Labels: Actions, Biome, Interface

#56 changed biome full check to match ken's code
  actions/release_animal.py
Labels: Animal

#62 Lr modules for release animal
  actions/__init__.py
  actions/create_animal.py
  actions/release_animal.py
  animals/gddgecko.py
  animals/hhfspider.py
  animals/kikakapu.py
  animals/nenegoose.py
  animals/opeapea.py
  animals/pueo.py
  animals/ulae.py
  index.py
Labels: Animal

#64 commented confusing print in report
  actions/report.py
  interfaces/habitat/contains_animals.py
  interfaces/habitat/contains_plants.py
Labels: Actions, Interface

#67 added author to files
  actions/report.py
  arboretum.py
  interfaces/habitat/contains_animals.py
  interfaces/habitat/contains_plants.py
Labels: Actions, Interface
